*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .overlay-left {
      position: absolute;
      top: 10em;
      left: 10%;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      cursor: pointer;
    }
    
    .overlay-right {
      position: absolute;
      top: 10em;
      right: 10%;
      opacity: 0;
      transition: 0.3s ease;
      cursor: pointer;
    }
    
    .info-icon:hover {
      color: #20f5d6;
    }
    
    .info-icon {
      color: #1ac7ae;
    }
    
    .movieImg:hover .overlay-left {
      opacity: 1;
    }
    .movieImg:hover .overlay-right {
      opacity: 1;
    }
    
    .movieImg {
      position: relative;
      width: 100%;
    }
    
    .large-icon {
      font-size: 2.5em;
    }
    